In [22]:
import pandas as pd
import pprint
import json
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [23]:
#Pulling in the data#Pullin 
csv_path = "DataSets/belly_button_biodiversity_otu_id.csv"

#Reading data
df = pd.read_csv(csv_path, encoding="utf-8", dtype=object)

In [24]:
#df.set_index('otu_id', inplace=True)
df.head()

  otu_id                        lowest_taxonomic_unit_found
0      1  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
1      2  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
2      3  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
3      4  Archaea;Euryarchaeota;Methanobacteria;Methanob...
4      5  Archaea;Euryarchaeota;Methanobacteria;Methanob...

In [25]:
engine = create_engine("sqlite:///Colhead.sqlite")

In [26]:
conn = engine.connect()

In [27]:
Base = declarative_base()
class otuname(Base):
    __tablename__ = 'otuname'

    id = otu_id(Integer, primary_key=True)
    names = lowest_taxonomic_unit_found(Text)


    def __repr__(self):
        return f"id={self.id}, name={self.name}"

NameError: name 'otu_id' is not defined