In [12]:
import pandas as pd
import numpy as np
import json

In [13]:
#Pulling in the data#Pullin 
csv_path = "DataSets/belly_button_biodiversity_samples.csv"

#Reading data
df = pd.read_csv(csv_path, encoding="utf-8", dtype=object)

In [16]:
otus = df['otu_id']
otus.to_json("DataSets/otulist.json")

In [17]:
df.head()

,otu_id,BB_940,BB_941,BB_943,BB_944,BB_945,BB_946,BB_947,BB_948,BB_949,...,BB_1562,BB_1563,BB_1564,BB_1572,BB_1573,BB_1574,BB_1576,BB_1577,BB_1581,BB_1601
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
Types = pd.DataFrame(list(df))

In [19]:
Types

           0
0     otu_id
1     BB_940
2     BB_941
3     BB_943
4     BB_944
5     BB_945
6     BB_946
7     BB_947
8     BB_948
9     BB_949
10    BB_950
11    BB_952
12    BB_953
13    BB_954
14    BB_955
15    BB_956
16    BB_958
17    BB_959
18    BB_960
19    BB_961
20    BB_962
21    BB_963
22    BB_964
23    BB_966
24    BB_967
25    BB_968
26    BB_969
27    BB_970
28    BB_971
29    BB_972
..       ...
124  BB_1540
125  BB_1541
126  BB_1542
127  BB_1543
128  BB_1544
129  BB_1545
130  BB_1546
131  BB_1547
132  BB_1548
133  BB_1549
134  BB_1550
135  BB_1551
136  BB_1552
137  BB_1553
138  BB_1554
139  BB_1555
140  BB_1556
141  BB_1557
142  BB_1558
143  BB_1561
144  BB_1562
145  BB_1563
146  BB_1564
147  BB_1572
148  BB_1573
149  BB_1574
150  BB_1576
151  BB_1577
152  BB_1581
153  BB_1601

[154 rows x 1 columns]