In [1]:
!rm Colhead.sqlite
import pandas as pd
import pprint
import json
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [2]:
#Pulling in the data#Pullin 
csv_path = "DataSets/belly_button_biodiversity_samples.csv"

#Reading data
df = pd.read_csv(csv_path, encoding="utf-8", dtype=object)

In [3]:
#Types.set_index('Columns', inplace=True)
Types = pd.DataFrame(list(df))
#Types.set_index(0, inplace=True)
Types = Types.astype(str)
Types.head()

        0
0  otu_id
1  BB_940
2  BB_941
3  BB_943
4  BB_944

In [4]:
Types.rename(columns={0: 'Column'}, inplace=True)
Types['id'] = Types.index
#Types.set_index('Column', inplace=True)
Types.head()

   Column  id
0  otu_id   0
1  BB_940   1
2  BB_941   2
3  BB_943   3
4  BB_944   4

In [5]:
Types.to_json("DataSets/columns.json")

In [6]:
data = Types.to_dict(orient='records')

In [7]:
engine = create_engine("sqlite:///Colhead.sqlite")

In [8]:
conn = engine.connect()

In [9]:
# Use `declarative_base` from SQLAlchemy to model the demographics table as an ORM class
# Make sure to specify types for each column

Base = declarative_base()


class Colhead(Base):
    __tablename__ = 'Colhead'

    id = Column(Integer, primary_key=True)
    Column = Column(Text)


    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [10]:
Base.metadata.create_all(engine)

In [11]:
data = Types.to_dict(orient='records')

In [12]:
metadata = MetaData(bind=engine)
metadata.reflect()

In [13]:
table = sqlalchemy.Table('Colhead', metadata, autoload=True)

In [14]:
conn.execute(table.delete())

In [15]:
conn.execute(table.insert(), data)

In [16]:
conn.execute("select * from Colhead limit 5").fetchall()

[(0, 'otu_id'), (1, 'BB_940'), (2, 'BB_941'), (3, 'BB_943'), (4, 'BB_944')]