In [7]:
import pandas as pd
import numpy as np
import os as os
import csv
import json
csv_path = "Resources/tmdb_5000_credits.csv"
Actors_pd = pd.read_csv(csv_path, encoding="utf-8")
Actors_pd.head()

# print(Actors_pd["cast"][0])
# print(Actors_pd["cast"][0])
# print( Actors_pd["cast"][0])

#thing = eval('[' + Actors_pd["crew"][0] + ']')
# thing[0][0]['character']
#arr = []
#for i in thing[0]:
#   arr.append(i)
#df2 = pd.DataFrame(arr)
#df2
    # json.dumps(Actors_pd["cast"][0]['cast_id'], sort_keys=True,indent=4, separators=(',', ': '))

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [8]:
actor_name = input ("What actor would you like to know about?")

What actor would you like to know about?Tom Cruise

In [9]:
selected_actor = Actors_pd[Actors_pd['cast'].str.contains(actor_name)]
selected_actor = selected_actor.reset_index(drop=True)
moviecount = len(selected_actor.index)
print (str(actor_name) + " has been in " + str(moviecount) + " movies")

Tom Cruise has been in 34 movies

In [10]:
print (str(actor_name) + " has been in the following movies")
selected_actor["title"]

Tom Cruise has been in the following movies

0                         Edge of Tomorrow
1       Mission: Impossible - Rogue Nation
2                  Mission: Impossible III
3     Mission: Impossible - Ghost Protocol
4                         The Last Samurai
5                        War of the Worlds
6                   Mission: Impossible II
7                           Knight and Day
8                                 Oblivion
9                          Minority Report
10                          Tropic Thunder
11                                Valkyrie
12                     Mission: Impossible
13                             Vanilla Sky
14                            Rock of Ages
15                          Eyes Wide Shut
16             Austin Powers in Goldmember
17                         Days of Thunder
18                              Collateral
19                            Jack Reacher
20                           Jerry Maguire
21              Interview with the Vampire
22                                The Firm
23                                Precious
24                                Magnolia
25                         Lions for Lambs
26                          A Few Good Men
27                                Rain Man
28                                 Top Gun
29              Born on the Fourth of July
30                              Young Guns
31                      The Color of Money
32                           The Outsiders
33                               Losin' It
Name: title, dtype: object

In [14]:
thing = eval('[' + selected_actor["crew"][0] + ']')
# thing[0][0]['character']
arr = []
for i in thing[0]:
   arr.append(i)
df2 = pd.DataFrame(arr)
Directors = df2.loc[df2["department"]== "Directing",:]
Directors.head()

,credit_id,department,gender,id,job,name
9,52fe4c27c3a368484e1aa1cb,Directing,2,11694,Director,Doug Liman
26,54e5c9669251410a03001e6a,Directing,0,1119475,Script Supervisor,Samantha C. Kirkeby
60,543ce5a90e0a265354001293,Directing,1,1373729,Script Supervisor,Lisa Vick
73,54e5c9839251417b2500147a,Directing,0,1402943,Script Supervisor,Sylvia Parker
80,54e5c91b92514109fc002044,Directing,0,1428551,Script Supervisor,Caroline Bowker

In [ ]:
thing = eval('[' + selected_actor["crew"][1] + ']')
for i in thing[0]:
    print(i["Director", "name"])

#thing[0][0]['Director']
#thing

In [ ]:
#selected_actor = pd.concat ([selected_actor.DataFrame (x) for x in selected_actor ["director"]], keys=selected_actor)

In [ ]:
filter(selected_actor, selected_actor["crew"])

In [ ]:
(item for item in selected_actor["crew"] if item ["department"] == "Director")